*{
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
 
}
body{
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40pxpx;
  margin: 40px;
   background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(image/temp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 1rem;
}
h1{
  padding: 0px;
  padding-left: 600px;
  margin-top: 0px;
  text-align: center;
  margin: 0px;
  color: #fff;
  justify-content: center;
}
#container{
  min-width: 320px;
  height: 360px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  background-color: bisque;
  ;
  padding: 0px;
  align-items: center;

}
.input{
  display: inline-block;
}
.inp{
  padding: 5px 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  text-align: center;
}
